<%
  const meta = {
    title: '中園塗装店 | 佐賀県で一番頼れる塗装屋',
    description: '中園塗装店は佐賀県鳥栖市を中心とした地域密着型の塗装店です。塗装業務の他に、各種取次業務も行っており、住まいのことなら安心して何でもご相談いただけます。鳥栖市以外にお住まいの方もお気軽にご相談ください。',
    url: 'https://nakazono-paint.netlify.app',
  };
%>
<% const path = "/"; %>
<!DOCTYPE html>
<html lang="ja">
<head>
<%- include('include/_head', {head: meta}) %>
</head>

<body>
  <div class="layout">
    <%- include('include/_header') %>
    <main class="p-top u-flex u-column">
      <!-- mv -->
      <section class="p-top-mv u-flex:lg u-column:lg u-relative:lg">
        <div class="p-top-mv__wrapper u-relative">
          <div class="p-top-mv__inner u-relative u-mx-auto js-parallax">
            <img class="p-top-mv__image" src="<%= path %>assets/img/top/mv.jpg" alt="" width="1200" height="700" decoding="async">
          </div>
          <img class="p-top-mv__accessory u-block u-mx-auto" src="<%= path %>assets/img/top/mv-b.png" alt="" width="1200" height="1695" decoding="async">
          <h1 class="p-top-mv__copy u-absolute">佐賀で一番、<br>頼れる塗装屋。</h1>
          <a class="c-circle u-absolute u-flex u-justify-center" href="#top-about">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 400 400" width="400" height="400">
              <defs>
                <path d="M0, 200a200, 200 0 1, 0 400, 0a200, 200 0 1, 0 -400, 0" id="txt-path"></path>
              </defs>
              <text fill="var(--gray-color-secondary)" font-size="clamp(31px, calc(34px - 0.5vw), 32px)" font-family="Kiwi Maru" font-weight="400">
                <textPath startOffset="0" xlink:href="#txt-path">Scroll Down * Scroll Down * Scroll Down * Scroll Down * Scroll Down * </textPath>
              </text>
            </svg>
            <img class="c-circle__icon u-absolute" src="<%= path %>assets/img/top/circle.png" alt="" width="300" height="300" decoding="async">
            <div class="c-circle__arrow u-absolute">
              <svg fill="var(--main-color)" viewBox="0 0 32 38">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M17.0094 38L15.1556 38C15.1556 29.7266 8.43851 23.0095 0.165117 23.0095L0.165117 21.1557C6.69411 21.1557 12.3602 24.8781 15.1556 30.3152L15.1556 0.924513L17.0094 0.924513L17.0094 30.3152C19.804 24.8781 25.471 21.1557 32 21.1557L32 23.0095C23.7266 23.0095 17.0094 29.7266 17.0094 38Z"></path>
              </svg>
            </div>
          </a>
        </div>
        <div class="p-top-mv__shape u-block:lg u-absolute u-zi-1" hidden>
          <div class="u-absolute js-parallax"><img src="<%= path %>assets/img/common/shape7.svg" alt="" width="400" height="400" decoding="async"></div>
          <div class="u-absolute js-parallax"><img src="<%= path %>assets/img/common/shape1.svg" alt="" width="260" height="260" decoding="async"></div>
          <div class="u-absolute js-parallax"><img src="<%= path %>assets/img/common/shape4.svg" alt="" width="300" height="300" decoding="async"></div>
        </div>
        <div class="p-top-mv__slider u-flex:lg u-mt-auto:lg" hidden>
          <div class="c-slider u-flex">
            <% for (let i = 0; i < 2; i++) { %>
            <ul class="c-slider__list u-flex">
              <% for (let i = 0; i < 3; i++) { %>
              <li class="c-slider__slide"><span>Welcome</span><span>to</span><span>Nakazono</span><span>Paint.</span></li>
              <% }; %>
            </ul>
            <% }; %>
          </div>
        </div>
      </section><!-- //mv -->
      <!-- about -->
      <section class="p-top-about">
        <div class="c-wrapper u-mx-auto">
          <h2 class="c-heading u-flex u-justify-center u-items-center u-relative" id="top-about" data-english="About">当店について</h2>
          <div class="p-top-about__container u-relative:lg u-mx-full:lg">
            <div class="p-top-about__image u-ml-full u-relative:lg js-parallax">
              <img src="<%= path %>assets/img/top/about1.jpg" alt="" width="960" height="1460" decoding="async">
            </div>
            <div class="p-top-about__text u-absolute:lg u-zi1">
              <p>
                昭和50年創業。<br>親子3代に渡り<br>塗装業を営んでおります。
              </p>
              <p>
                家というものは、職人と依頼主が、<br>魂をこめて作り上げるもの。<br>その大切な住まいを守るのが<br>私たち塗装職人です。
              </p>
              <p>
                私たちは塗装業を営むなかで<br>お客様や他業種の職人など<br>たくさんの人との繋がりがあり<br>この繋がりを大切にしています。
              </p>
              <p>
                私たちは塗装業だけにとどまらず、<br>住まいのことなら<br class="u-none:sm">何でも相談でき、解決できる<br>佐賀で一番頼れる塗装店をめざしています。
              </p>
              <a class="c-button-wave u-flex u-justify-center u-items-center u-relative" href="<%= path %>about/">
                <div class="c-button-wave__effect u-absolute"></div>
                <span class="u-relative">詳しく見てみる</span>
              </a>
            </div>
            <div class="p-top-about__image u-ml-auto u-mr-full u-block:md u-absolute:lg js-parallax" hidden>
              <img src="<%= path %>assets/img/top/about2.jpg" alt="" width="300" height="500" decoding="async">
            </div>
            <div class="p-top-about__image u-block:md u-relative:lg js-parallax" hidden>
              <img src="<%= path %>assets/img/top/about3.jpg" alt="" width="420" height="620" decoding="async">
            </div>
          </div>
        </div>
      </section>
      <!-- //about -->
      <!-- plan -->
      <section class="p-top-plan">
        <div class="c-wrapper u-mx-auto">
          <h2 class="c-heading u-flex u-justify-center u-items-center u-relative" id="top-plan" data-english="Plan">施工プラン</h2>
          <ul class="p-top-plan__list u-grid">
            <%
              const plan = [
                {
                  name: '外壁塗装料金',
                  detail: '1平方メートルあたりの塗装料金<br>（塗料代、工賃、養生費、消費税込み、3回塗り）',
                  price: '￥1,210 ~ ￥3,630',
                  note: '※壁質、塗料によって金額が異なります'
                },
                {
                  name: '内装、室内塗装料金',
                  detail: '1平方メートルあたりの塗装料金<br>（塗料代、工賃、養生費、消費税込み、3回塗り）',
                  price: '￥1,650 ~ ￥2,100',
                  note: '※塗料によって金額が異なります'
                },
                {
                  name: '屋根塗装料金',
                  detail: '1平方メートルあたりの塗装料金<br>（塗料代、工賃、養生、ケレン、清掃費、消費税込み、3回塗り）',
                  price: '￥1,420 ~ ￥2,980',
                  note: '※屋根材、塗料によって金額が異なります'
                },
                {
                  name: '防水工事料金',
                  detail: '1平方メートルあたりの塗装料金<br>（塗料代、工賃、養生、清掃費、消費税込み、4回塗り）',
                  price: '￥1,640 ~ ￥8,800',
                  note: '※施工部、塗材によって金額が異なります'
                }
              ];

              plan.forEach((value, index) => {
            %>
            <li class="p-top-plan__item u-grid u-text-center u-relative:lg">
              <h3 class="p-top-plan__plan"><%= value.name %></h3>
              <p><%- value.detail %></p>
              <p class="p-top-plan__price"><%= value.price %></p>
              <p><%= value.note %></p>
            </li>
            <% }); %>
          </ul>
          <p class="u-text-center:xl">中園塗装店の主な施工の料金目安です。この他にも光触媒コーティングや家具類の塗装も行っております。</p>
          <a class="c-button-wave u-flex u-justify-center u-items-center u-relative u-mt2em u-mx-auto" href="<%= path %>plan/">
            <div class="c-button-wave__effect u-absolute"></div>
            <span class="u-relative">詳しく見てみる</span>
          </a>
        </div>
      </section><!-- //plan -->
      <!-- works -->
      <section class="p-top-works">
        <div class="c-wrapper u-mx-auto">
          <h2 class="c-heading u-flex u-justify-center u-items-center u-relative" id="top-works" data-english="Works">施工事例</h2>
          <ul class="p-top-works__list u-grid">
            <%
              const worksList = [
                {
                  title: "佐賀県鳥栖市　<span class=u-inline-block>U邸</span>",
                  tags: '<span>外壁塗装</span><span>屋根塗装</span>',
                },
                {
                  title: "佐賀県佐賀市　<span class=u-inline-block>H邸</span>",
                  tags: '<span>外壁塗装</span><span>屋根塗装</span><span>光触媒コーティング</span>',
                },
                {
                  title: "福岡県柳川市　<span class=u-inline-block>Iアパート</span>",
                  tags: '<span>外壁塗装</span><span>屋根塗装</span><span>防水工事</span>',
                },
              ];

              worksList.forEach((value, index) => {
            %>
            <li class="c-card">
              <a class="c-card__inner u-block" href="#!">
                <picture class="c-card__thumb">
                  <source srcset="<%= path %>assets/img/works/works<%= index + 1 %>.webp" width="370" height="280">
                  <img src="<%= path %>assets/img/works/works<%= index + 1 %>.jpg" alt="" width="370" height="280" decoding="async">
                </picture>
                <div class="c-card__content">
                  <h3 class="c-card__title"><%- value.title %></h3>
                  <div class="c-card__tags u-flex u-items-center u-flex-wrap"><%- value.tags %></div>
                </div>
              </a>
            </li>
            <% }); %>
          </ul>
          <a class="c-button-wave u-flex u-justify-center u-items-center u-relative u-mx-auto" href="<%= path %>works/">
            <div class="c-button-wave__effect u-absolute"></div>
            <span class="u-relative">他の実績も見てみる</span>
          </a>
        </div>
      </section><!-- //works -->
      <!-- faq -->
      <section class="p-top-faq">
        <div class="c-wrapper u-mx-auto">
          <h2 class="c-heading u-flex u-justify-center u-items-center u-relative" id="top-faq" data-english="FAQ">よくある質問</h2>
          <div class="p-top-faq__container u-grid u-mx-auto" itemscope itemtype="https://schema.org/FAQPage">
            <%
              const faq = [
                {
                  question: '作業期間はどのくらいですか？',
                  answer: '35坪くらいのお家で、職人2～3人で10～14日ほどかかります。また、外壁塗装は雨だと行えませんので、天候により若干変動します。',
                },
                {
                  question: '塗り替え時期の目安はどのくらいですか？',
                  answer: '住宅のある場所の環境によりますが、大体5年～10年に一度くらいです。塗料が劣化してしまいますと家が傷んでしまい、余計な費用までかさんでしまいますので、5年～を目安にご検討されてはいかがでしょうか。また当店はお見積りは無料となっておりますので<a href="/contact">こちらから</a>お気軽にお問合せください。',
                },
                {
                  question: '工事中の臭いは気になりませんか？',
                  answer: '当店で使用している塗料は9割が水性塗料で臭いが少ないですが、どうしても若干の臭いはしてしまいます。しかし、ご迷惑をおかけすることは少ないと思います。',
                },
              ];

              faq.forEach(value => {
            %>
            <details class="c-accordion js-overlay-target js-details" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
              <summary class="c-accordion__title u-relative js-summary" itemprop="name">
                <%= value.question %><span class="c-accordion__icon u-absolute">+</span>
              </summary>
              <div class="c-accordion__content js-content" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                <p class="c-accordion__text u-relative" itemprop="text"><%- value.answer %></p>
              </div>
            </details>
            <% }); %>
          </div>
          <a class="c-button-wave u-flex u-justify-center u-items-center u-relative u-mx-auto" href="<%= path %>works/">
            <div class="c-button-wave__effect u-absolute"></div>
            <span class="u-relative">他の質問も見てみる</span>
          </a>
        </div>
      </section><!-- //faq -->
    </main>
    <%- include('include/_footer') %>
  </div>
</body>
</html>
