<%
  const meta = {
    title: '施工実績 | 中園塗装店',
    description: '佐賀県鳥栖市・中園塗装店の施工実績一覧のページです。中園塗装店が実際に施工したお住まい・建物です。ビフォーアフターでお住まい・建物の変わり映えをご覧ください。',
    url: 'https://nakazono-paint.netlify.app/works/',
  };

  const page = {
    directory: 'works',
    label: "施工実績"
  };
%>
<% const path = "/"; %>
<!DOCTYPE html>
<html lang="ja">
<head>
<%- include('../include/_head', {head: meta}) %>
</head>

<body>
  <div class="layout">
    <%- include('../include/_header') %>
    <main>
      <%- include('../include/_page-title', {value: page}) %>
      <div class="c-wrapper u-mx-auto">
        <%- include('../include/_breadcrumb', {value: page}) %>
        <div class="p-works u-grid">
          <p class="p-works__text u-text-center:lg">
            中園塗装店が施工を行った事例です。塗装のご検討の参考になさってください。<br>（架空サイトですので詳細ページは入れておりません）
          </p>
          <ul class="p-works__list u-grid">
            <%
              const worksList = [
                {
                  title: "佐賀県鳥栖市　<span class=u-inline-block>U邸</span>",
                  tags: '<span>外壁塗装</span><span>屋根塗装</span>',
                },
                {
                  title: "佐賀県佐賀市　<span class=u-inline-block>H邸</span>",
                  tags: '<span>外壁塗装</span><span>屋根塗装</span><span>光触媒コーティング</span>',
                },
                {
                  title: "福岡県柳川市　<span class=u-inline-block>Iアパート</span>",
                  tags: '<span>外壁塗装</span><span>屋根塗装</span><span>防水工事</span>',
                },
                {
                  title: "佐賀県鳥栖市　<span class=u-inline-block>Y邸</span>",
                  tags: '<span>外壁塗装</span><span>屋根塗装</span><span>防水工事</span><span>光触媒コーティング</span>',
                },
                {
                  title: "佐賀県鳥栖市　<span class=u-inline-block>M邸</span>",
                  tags: '<span>外壁塗装</span><span>屋根塗装</span>',
                },
                {
                  title: "佐賀県鳥栖市　<span class=u-inline-block>A邸</span>",
                  tags: '<span>防水工事</span><span>光触媒コーティング</span>',
                },
              ];

              worksList.forEach((value, index) => {
            %>
            <li class="c-card">
              <a class="c-card__inner u-block" href="#!">
                <picture class="c-card__thumb">
                  <source srcset="<%= path %>assets/img/works/works<%= index + 1 %>.webp" width="370" height="280">
                  <img src="<%= path %>assets/img/works/works<%= index + 1 %>.jpg" alt="" width="370" height="280" decoding="async">
                </picture>
                <div class="c-card__content">
                  <h3 class="c-card__title"><%- value.title %></h3>
                  <div class="c-card__tags u-flex u-items-center u-flex-wrap"><%- value.tags %></div>
                </div>
              </a>
            </li>
            <% }); %>
          </ul>
        </div>
      </div>
    </main>
    <%- include('../include/_footer') %>
  </div>
</body>
</html>
