<% const path = "/"; %>
<footer class="footer">
  <%- include('./_cta') %>
  <div class="footer__outer">
    <div class="c-wrapper u-mx-auto">
      <div class="u-flex:xl u-justify-between:xl u-items-start:xl">
        <div class="u-text-center">
          <a href="<%= path %>"><img src="<%= path %>assets/img/common/logo.svg" alt="トップページへ" width="215" height="42" decoding="async"></a>
        </div>
        <div class="footer__container">
          <ul class="footer__list u-grid u-mx-auto u-flex:xl u-justify-between:xl">
            <li class="footer__item"><a class="footer__link" href="<%= path %>">ホーム</a></li>
            <li class="footer__item"><a class="footer__link" href="<%= path %>about/">当店について</a></li>
            <li class="footer__item"><a class="footer__link" href="<%= path %>plan/">施工プラン</a></li>
            <li class="footer__item"><a class="footer__link" href="<%= path %>works/">施工実績</a></li>
            <li class="footer__item"><a class="footer__link" href="<%= path %>faq/">よくある質問</a></li>
            <li class="footer__item"><a class="footer__link" href="<%= path %>contact/">お問い合せ</a></li>
          </ul>
          <div class="footer__inner u-flex:xl u-justify-between:xl u-items-center:xl">
            <ul class="footer__sns u-flex u-justify-center u-items-center">
              <li>
                <a href="">
                  <img src="<%= path %>assets/img/common/icon1.svg" alt="中園塗装店のfacebookページはこちら" width="22" height="22" decoding="async" loading="lazy">
                </a>
              </li>
              <li>
                <a href="">
                  <img src="<%= path %>assets/img/common/icon2.svg" alt="中園塗装店のInstagramページはこちら" width="20" height="23" decoding="async" loading="lazy">
                </a>
              </li>
            </ul>
            <div class="u-text-center">
              <small lang="en" translate="no">&copy; 2022 Nakazono Paint</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
