<% const path = "/"; %>
<header class="header u-sticky u-zi5">
  <div class="header__inner u-flex u-justify-between u-items-center u-mx-auto">
    <h1 class="u-flex u-items-center">
      <a class="u-flex u-items-center" href="<%= path %>">
        <img src="<%= path %>assets/img/common/logo.svg" alt="トップページへ" width="215" height="42" decoding="async">
      </a>
    </h1>
    <button class="c-menu-button --open u-relative u-none:xl" type="button" aria-label="メニューを開く" data-micromodal-trigger="modal-nav">
      <img class="c-menu-button__shape" src="<%= path %>assets/img/common/shape5.svg" alt="" width="80" height="80" decoding="async">
      <span class="c-menu-button__parts --open u-absolute"></span>
      <span class="c-menu-button__parts --open u-absolute"></span>
      <span class="c-menu-button__parts --open u-absolute"></span>
    </button>
    <nav class="header__nav u-block:xl" hidden>
      <ul class="header__list u-flex u-jusify-center u-items-center">
        <li class="u-flex u-items-center"><a class="header__link c-rolling-text u-inline-block js-rolling-text" href="<%= path %>">ホーム</a></li>
        <li class="u-flex u-items-center"><a class="header__link c-rolling-text u-inline-block js-rolling-text" href="<%= path %>about/">当店について</a></li>
        <li class="u-flex u-items-center"><a class="header__link c-rolling-text u-inline-block js-rolling-text" href="<%= path %>plan/">施工プラン</a></li>
        <li class="u-flex u-items-center"><a class="header__link c-rolling-text u-inline-block js-rolling-text" href="<%= path %>works/">施工実績</a></li>
        <li class="u-flex u-items-center"><a class="header__link c-rolling-text u-inline-block js-rolling-text" href="<%= path %>faq/">よくある質問</a></li>
        <li class="u-flex u-items-center"><a class="header__link c-rolling-text u-inline-block js-rolling-text" href="<%= path %>contact/">お問い合せ</a></li>
      </ul>
    </nav>
  </div>
  <a class="c-banner u-fixed" id="fix-banner" href="<%= path %>contact/" aria-hidden="true">
    <img src="<%= path %>assets/img/common/banner.png" alt="お問い合せフォームはこちら" width="154" height="454" decoding="async">
  </a>
  <%- include('./_modal') %>
</header>
