<% const path = "/"; %>
<nav class="c-nav u-relative">
  <ul class="c-nav__list u-grid u-mx-auto">
    <li class="u-flex u-items-center"><a class="c-nav__item c-rolling-text u-inline-block js-rolling-text" href="<%= path %>">ホーム</a></li>
    <li class="u-flex u-items-center"><a class="c-nav__item c-rolling-text u-inline-block js-rolling-text" href="<%= path %>about/">当店について</a></li>
    <li class="u-flex u-items-center"><a class="c-nav__item c-rolling-text u-inline-block js-rolling-text" href="<%= path %>plan/">施工プラン</a></li>
    <li class="u-flex u-items-center"><a class="c-nav__item c-rolling-text u-inline-block js-rolling-text" href="<%= path %>works/">施工実績</a></li>
    <li class="u-flex u-items-center"><a class="c-nav__item c-rolling-text u-inline-block js-rolling-text" href="<%= path %>faq/">よくある質問</a></li>
    <li class="u-flex u-items-center"><a class="c-nav__item c-rolling-text u-inline-block js-rolling-text" href="<%= path %>contact/">お問い合せ</a></li>
  </ul>
</nav>
