<% const path = "/"; %>
<div class="c-page-title u-relative">
  <h1 class="c-page-title__title u-absolute"><%= value.label %></h1>
  <picture class="c-page-title__img">
    <source srcset="<%= path %>assets/img/<%= value.directory %>/heading.webp" width="1920" height="640">
    <img src="<%= path %>assets/img/<%= value.directory %>/heading.jpg" alt="" width="1920" height="640" decoding="async">
  </picture>
  <img class="c-page-title__wave u-absolute" src="<%= path %>assets/img/common/wave.png" alt="" width="1920" height="240" decoding="async">
</div>
