<%
  const meta = {
    title: '施工プラン | 中園塗装店',
    description: '中園塗装店の主な施工の料金目安です。塗装部の材質や塗料の種類によって値段が変動します。当店はお見積り無料となっておりますのでお気軽にお問い合せください。',
    url: 'https://nakazono-paint.netlify.app/plan/',
  };

  const page = {
    directory: 'plan',
    label: "施工プラン"
  };
%>
<% const path = "/"; %>
<!DOCTYPE html>
<html lang="ja">
<head>
<%- include('../include/_head', {head: meta}) %>
</head>

<body>
  <div class="layout">
    <%- include('../include/_header') %>
    <main>
      <%- include('../include/_page-title', {value: page}) %>
      <div class="c-wrapper u-mx-auto">
        <%- include('../include/_breadcrumb', {value: page}) %>
        <div class="p-plan u-grid">
          <section class="p-plan-price">
            <h2 class="c-heading-secondary u-flex u-items-center u-column" id="plan-price" data-en="Price">料金表</h2>
            <div class="p-plan-price__container u-grid">
              <div class="p-plan-price__content u-grid u-text-center">
                <h3 class="p-plan-price__title">外壁塗装料金</h3>
                <p>1平方メートルあたりの塗装料金<br>（塗料代、工賃、養生費、消費税込み、工程は3回塗り）</p>
                <div>
                  <div class="p-plan-price__inner">
                    <table class="c-table">
                      <thead class="c-table__head">
                        <tr class="c-table__row">
                          <th class="c-table__column --span5">壁質/塗料</th>
                          <th class="c-table__column --span5">ウレタン樹脂</th>
                          <th class="c-table__column --span5">シリコン樹脂</th>
                          <th class="c-table__column --span5">ラジカル制御形</th>
                          <th class="c-table__column --span5">フッ素樹脂</th>
                        </tr>
                      </thead>
                      <tbody class="c-table__body">
                        <tr class="c-table__row">
                          <th class="c-table__column --span5">モルタル</th>
                          <td class="c-table__column --span5">1,430～1,980円</td>
                          <td class="c-table__column --span5">1,650～2,200円</td>
                          <td class="c-table__column --span5">1,760～2,310円</td>
                          <td class="c-table__column --span5">3,080～3,630円</td>
                        </tr>
                        <tr class="c-table__row">
                          <th class="c-table__column --span5">サイディング</th>
                          <td class="c-table__column --span5">1,210～1,760円</td>
                          <td class="c-table__column --span5">1,430～1,980円</td>
                          <td class="c-table__column --span5">1,540～2,200円</td>
                          <td class="c-table__column --span5">2,760～3,300円</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <p class="u-text-left u-none:lg">※左右にスクロールできます</p>
                </div>
              </div>
              <div class="p-plan-price__content u-grid u-text-center">
                <h3 class="p-plan-price__title">内装、室内塗装料金</h3>
                <p>1平方メートルあたりの塗装料金<br>（塗料代、工賃、養生費、消費税込み、工程は3回塗り）</p>
                <div>
                  <div class="p-plan-price__inner">
                    <table class="c-table">
                      <tbody class="c-table__body">
                        <tr class="c-table__row">
                          <th class="c-table__column --span2">浴室、台所/防カビ、低汚染塗料</th>
                          <td class="c-table__column --span2">1,320円～</td>
                        </tr>
                        <tr class="c-table__row">
                          <th class="c-table__column --span2">居室、廊下／低ＶＯＣ水性塗料</th>
                          <td class="c-table__column --span2">1,100円～</td>
                        </tr>
                        <tr class="c-table__row">
                          <th class="c-table__column --span2">クロス下地、ジュラク壁、綿壁など</th>
                          <td class="c-table__column --span2">1,650円～</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <p class="u-text-left u-none:lg">※左右にスクロールできます</p>
                </div>
              </div>
              <div class="p-plan-price__content u-grid u-text-center">
                <h3 class="p-plan-price__title">屋根塗装料金</h3>
                <p>1平方メートルあたりの塗装料金<br>（塗料代、工賃、養生、ケレン、清掃費、消費税込み、工程は3回塗り）</p>
                <div>
                  <div class="p-plan-price__inner">
                    <table class="c-table">
                      <thead class="c-table__head">
                        <tr class="c-table__row">
                          <th class="c-table__column --span5">屋根材/塗料</th>
                          <th class="c-table__column --span5">ウレタン樹脂</th>
                          <th class="c-table__column --span5">シリコン樹脂</th>
                          <th class="c-table__column --span5">フッ素樹脂</th>
                          <th class="c-table__column --span5">遮熱塗装</th>
                        </tr>
                      </thead>
                      <tbody class="c-table__body">
                        <tr class="c-table__row">
                          <th class="c-table__column --span5">トタン屋根</th>
                          <td class="c-table__column --span5">1,430～1,650円</td>
                          <td class="c-table__column --span5">1,650～1,870円</td>
                          <td class="c-table__column --span5">2,420～2,860円</td>
                          <td class="c-table__column --span5">2,420～2,860円</td>
                        </tr>
                        <tr class="c-table__row">
                          <th class="c-table__column --span5">カラーベスト屋根</th>
                          <td class="c-table__column --span5">1,540～1,760円</td>
                          <td class="c-table__column --span5">1,760～1,980円</td>
                          <td class="c-table__column --span5">2,530～2,970円</td>
                          <td class="c-table__column --span5">2,530～2,970円</td>
                        </tr>
                        <tr class="c-table__row">
                          <th class="c-table__column --span5">モニエル瓦</th>
                          <td class="c-table__column --span5">1,760～1,980円</td>
                          <td class="c-table__column --span5">2,420～2,750円</td>
                          <td class="c-table__column --span5"></td>
                          <td class="c-table__column --span5"></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <p class="u-text-left u-none:lg">※左右にスクロールできます</p>
                </div>
              </div>
              <div class="p-plan-price__content u-grid u-text-center">
                <h3 class="p-plan-price__title">防水工事料金</h3>
                <p>1平方メートルあたりの塗装料金<br>（塗料代、工賃、養生、清掃費、消費税込み、工程は3回塗り）</p>
                <div>
                  <div class="p-plan-price__inner">
                    <table class="c-table">
                      <thead class="c-table__head">
                        <tr class="c-table__row">
                          <th class="c-table__column --span4">施工部/塗材</th>
                          <th class="c-table__column --span4">ウレタン樹脂</th>
                          <th class="c-table__column --span4">シート防水</th>
                          <th class="c-table__column --span4">FRP防水</th>
                        </tr>
                      </thead>
                      <tbody class="c-table__body">
                        <tr class="c-table__row">
                          <th class="c-table__column --span4">ベランダ</th>
                          <td class="c-table__column --span4">2,200～5,500円</td>
                          <td class="c-table__column --span4">3,850～8,800円</td>
                          <td class="c-table__column --span4">4,400～8,800円</td>
                        </tr>
                        <tr class="c-table__row">
                          <th class="c-table__column --span4">屋上</th>
                          <td class="c-table__column --span4">1,650～4,400円</td>
                          <td class="c-table__column --span4">3,300～7,700円</td>
                          <td class="c-table__column --span4">3,850～7,700円</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <p class="u-text-left u-none:lg">※左右にスクロールできます</p>
                </div>
              </div>
              <div class="p-plan-price__content u-grid u-text-center">
                <h3 class="p-plan-price__title">鉄部、木部塗装</h3>
                <p>1平方メートルあたりの塗装料金<br>（塗料代、工賃、養生費、消費税込み、工程はケレン、清掃含む3回塗り）</p>
                <div>
                  <div class="p-plan-price__inner">
                    <table class="c-table">
                      <thead class="c-table__head">
                        <tr class="c-table__row">
                          <th class="c-table__column --span3">施工部/塗材</th>
                          <th class="c-table__column --span3">ウレタン樹脂</th>
                          <th class="c-table__column --span3">シリコン樹脂</th>
                        </tr>
                      </thead>
                      <tbody class="c-table__body">
                        <tr class="c-table__row">
                          <th class="c-table__column --span3">雨戸、庇</th>
                          <td class="c-table__column --span3">1,100～1,650円</td>
                          <td class="c-table__column --span3">1,430～1,980円</td>
                        </tr>
                        <tr class="c-table__row">
                          <th class="c-table__column --span3">手摺り</th>
                          <td class="c-table__column --span3">1,870～2,420円</td>
                          <td class="c-table__column --span3">2,200～2,750円</td>
                        </tr>
                        <tr class="c-table__row">
                          <th class="c-table__column --span3">雨樋など(1mあたり)</th>
                          <td class="c-table__column --span3">660～880円</td>
                          <td class="c-table__column --span3">880～1,100円</td>
                        </tr>
                        <tr class="c-table__row">
                          <th class="c-table__column --span3">窓枠など(1mあたり)</th>
                          <td class="c-table__column --span3">660～880円</td>
                          <td class="c-table__column --span3">880～1,100円</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <p class="u-text-left u-none:lg">※左右にスクロールできます</p>
                </div>
              </div>
              <div class="p-plan-price__content u-grid u-text-center">
                <h3 class="p-plan-price__title">仮設足場、洗浄、シーリング、<br class="u-none:sm">光触媒コーディング</h3>
                <p>1平方メートルあたり</p>
                <div>
                  <div class="p-plan-price__inner">
                    <table class="c-table">
                      <tbody class="c-table__body">
                        <tr class="c-table__row">
                          <th class="c-table__column --span3">足場工事</th>
                          <td class="c-table__column --span3">単管ブラケット足場、<span class="u-inline-block">メッシュシート込み</span></td>
                          <td class="c-table__column --span3">880～1,100円</td>
                        </tr>
                        <tr class="c-table__row">
                          <th class="c-table__column --span3">高圧洗浄</th>
                          <td class="c-table__column --span3"></td>
                          <td class="c-table__column --span3">110～220円</td>
                        </tr>
                        <tr class="c-table__row">
                          <th class="c-table__column --span3">シーリング</th>
                          <td class="c-table__column --span3">サッシ廻り、<span class="u-inline-block">目地、</span><span class="u-inline-block">サイディング接合部</span></td>
                          <td class="c-table__column --span3">440～880円(m)</td>
                        </tr>
                        <tr class="c-table__row">
                          <th class="c-table__column --span3">光触媒コーディング</th>
                          <td class="c-table__column --span3"></td>
                          <td class="c-table__column --span3">1800～2600円(m)</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <p class="u-text-left u-none:lg">※左右にスクロールできます</p>
                </div>
              </div>
              <p class="p-plan-price__text u-mx-auto">
                各工事共、現場調査の際に細かくお見積もりを出させていただきます。<br>お客様のご予算、ご要望をお伺いした上で、上記以外の塗料も含めての最適なプランをご提案させていただきます。
              </p>
            </div>
          </section>
          <section class="p-plan-flow">
            <h2 class="c-heading-secondary u-flex u-items-center u-column" id="plan-flow" data-en="Work Flow">施工の流れ</h2>
            <ol class="p-plan-flow__list u-mx-auto">
              <%
                const flow = [
                  {
                    title: 'お問い合せ',
                    description: '塗装工事に関してまたは、お住まいのお困りごとについて、どのようなことでもお問い合わせください。ご要望やお困りごとについて納得いただけるまで丁寧にご説明、ご提案させていただきます。また、工務店さんのご依頼も受け付けております。<a class="c-underline u-inline-block" href="/contact/">お問い合せの際はコチラからどうぞ</a>',
                  },
                  {
                    title: '現場調査・お見積り',
                    description: '外壁、屋根の状態など、お問合わせ時には見えない細かな部分まで、しっかりと確認し採寸させていただきます。その後、ご要望や建物の状況に合わせた分かりやすいお見積り書を提出させていただきます。当店はお見積りは無料となっておりますのでお気軽にご相談ください。',
                  },
                  {
                    title: 'ご契約・スケジュール説明',
                    description: 'お見積り内容・施工内容にご納得いただけましたらご契約となります。おって施工期間やスケジュールなどご説明させていただいております。',
                  },
                  {
                    title: 'ご近所への挨拶',
                    description: '工事中は、ご近所様にご不便・ご迷惑をおかけするので、必ず工事が始まる前にご挨拶に伺います。ご近所様への気配りを入念に行います。',
                  },
                  {
                    title: '足場の組み立て',
                    description: '塗り替えを行う為には効率性・安全性を上げる為に作業用の足場が必要です。屋根でも傾斜が大きい時はその時に応じて足場を掛けて工事をします。塗装に最も適した足場の組み方により、円滑に工事を進めます。',
                  },
                  {
                    title: '高圧洗浄',
                    description: '外壁や屋根の塗装面にこびりついたカビやコケ、藻、汚れ、ほこりを高圧の水流によって洗い落とすことによって塗料の密着をよくします。',
                  },
                  {
                    title: '下地処理',
                    description: 'ひび割れの部分ににコーキングを充填します。既にある古いコーキング（ボードとボードの境目にある継ぎ目や窓のサッシまわりなどに使用されるゴム状のモノ）を撤去し新しいコーキングを充填します。',
                  },
                  {
                    title: '養生',
                    description: '塗装をしたときは、少なからず家のまわりに塗料が飛び散ってしまいます。サッシ、窓、地面、植木や植物など塗料がついてしまうと不都合な場所がたくさんあります。その為に、ビニールやテープ、布などで覆って、塗料の飛び散りを防ぎます。',
                  },
                  {
                    title: '着工',
                    description: '安全・確実を徹底し、ご近所様へのご迷惑にならないように心がけ施工致します。中塗りを省かない丁寧な3度塗りでご満足いただけるように全力で施工させていただきます。',
                  },
                  {
                    title: '施工完了・検査',
                    description: '塗装箇所の入念なチェックを行い、必要があれば手直し致します。 問題がなければ塗装作業を終了し、足場の解体と周辺の清掃を行います。最後に、お客様に確認していただき、最終のお引渡しとなります。',
                  },
                ];

                flow.forEach((value, index) => {
              %>
              <li>
                <h3 class="p-plan-flow__title u-flex u-items-center">
                  <span class="p-plan-flow__number u-flex u-justify-center u-items-center"><%= index + 1 %></span>
                  <span class="p-plan-flow__line"></span>
                  <%= value.title %>
                </h3>
                <div class="p-plan-flow__container u-relative">
                  <div class="p-plan-flow__inner">
                    <picture>
                      <source srcset="<%= path %>assets/img/plan/flow<%= index + 1 %>.webp" width="630" height="260">
                      <img src="<%= path %>assets/img/plan/flow<%= index + 1 %>.jpg" alt="" width="630" height="260" decoding="async">
                    </picture>
                    <p class="p-plan-flow__text u-text-justify:lg"><%- value.description %></p>
                  </div>
                </div>
              </li>
              <% }); %>
            </ol>
          </section>
        </div>
      </div>
    </main>
    <%- include('../include/_footer') %>
  </div>
</body>
</html>
